@import "./styles/modules.scss";
@import "./styles/variables.scss";

:global() {
    html {
        font-size: 62.5%;
    }

    body {
        background: $body-background-color;
        font-size: 1.4rem;
        color: $body-text-color;
    }

    div {
        box-sizing: border-box;
    }

    li {
        list-style: none;
    }
}
