// body
$body-background-color: #f6fafd;
$body-text-color: #4a4a55;

// theme
$svelte-theme-color: #ff3e00;

// button
$button-background-color: #676778;
$button-hover-background-color: #4a4a57;

// border
$border-color: #e1e5e7;

// placeholder
$placeholder-color: #ccc;
